{{ define "main" }}

<article>
  <div class="single__header">
    <h1 class="single__title">{{ .Title }}</h1>
    {{with .Params.hideMeta}}{{else}}{{partial "meta.html" .}}{{end}}
  </div>

  <div class="single__body">
   
    {{if .Params.toc}}
    <div class="single__toc">
    <button type="button" class="single__toc-button">Table of Content</button>
    <div class="single__toc-content">{{ .TableOfContents }}</div>
    </div>
    {{end}}


    <div class="single__body-content">
      {{- .Content -}} 
    </div>
  </div>
  <div class="single__tags-footer">
    {{with .Params.Tags}}
      <h6>Tags: {{range .}} {{ . }} / {{- end -}}</h6>
      {{- end -}}
  </div>
</article>

{{ end }}
