
@import "_variables";
@import "_functions";
html{
    font-size: 16px;
}

p{
    line-height: 1.6em;
}

strong{
    font-weight: 900;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-serif;
  margin-bottom: 0pt;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.4em;
}

h5{
    font-size: 1.2em;
    text-transform: uppercase;
}

h6{
    font-size: 0.7em;
    font-style: normal;
    font-weight: inherit;
}