
@import "_variables";
@import "_responsive";
html{
    font-size: 16px;
}

p{
    line-height: 1.6em;
}

strong{
    font-weight: 900;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-serif;
  margin-bottom: 5pt;
  
}

h1{
    font-size: 2em;
}