@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Montserrat:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap');
//fonts
$sans-serif: "Montserrat", sans-serif;
$serif: "Merriweather", serif;
$quote-font: "Indie Flower", cursive;
$monospace-font: "Fira Mono", monospace;

//colors
$theme: light;
$link-color: #01b5e2;
$backgound-color: #ffffff;
$blocks-backgound-color: #dadada;
$grey: #828282;
$highlights:  linear-gradient(
    90deg,
    rgba(2, 97, 168, 1) 0%,
    rgba(126, 126, 126, 1) 100%
  );

$selected:  rgba(255, 250, 175, 0.996);


//dimensions
$max-site-width: 1500px;
$content-width: 700px;
$content-smaller-width: 500px;

$big-margin: 10%;
$padding: 5px;
$radius: 5px;

//breakpoints
$big-display: 768px; //64em



