@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Montserrat:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap');
//fonts
$sans-serif: "Montserrat", sans-serif;
$serif: "Merriweather", serif;
$quote-font: "Indie Flower", cursive;
$monospace-font: "Fira Mono", monospace;

//colors
$main-color: 'main-color';
$link-color: 'link-color';
$backgound-color: 'background-color';
$blocks-backgound-color: 'blocks-backgound-color';
$selected:  'selected';



$themes:(
  light:(
    main-color:black,
    link-color: #01b5e2,
    backgound-color: #ffffff,
    blocks-backgound-color: rgba(225,225,225, 0.8),
    selected:  rgba(255, 250, 175, 0.996),
  ),
  dark:(
    main-color:white,
    link-color: #006f8b,
    backgound-color: #000000,
    blocks-backgound-color: rgba(25,25,25, 0.8),
    selected:  rgba(143, 140, 93, 0.996),
  ),
);


//dimensions
$max-site-width: 1500px;
$content-width: 700px;
$content-smaller-width: 500px;

$big-margin: 10%;
$padding: 5px;
$radius: 5px;

//breakpoints
$big-display: 768px; //64em



