@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
//fonts
$primary-font: "Libre Baskerville", serif;
$secondary-font: "Montserrat", sans-serif;
$quote-font: "Amatic SC", cursive;
$monospace-font: "Fira Mono", monospace;

//colors light

$theme: light;
$primary-color: black;
$link-color: #01b5e2;
$backgound-color: #ffffff;
$backgound-secondary-color: #e3e3e3;

$secondary-color: #000000;
$selected:  rgba(255, 250, 175, 0.5);

/*
$theme: dark;
$primary-color: white;
$link-color: #d9ff19;
$backgound-color: hsl(218, 44%, 38%);
$secondary-color: #ffffff;
$selected:  rgba(255, 250, 175, 0.5);
*/

//dimensions
$max-site-width: 1500px;
$content-width: 600px;
$content-smaller-width: 500px;

$big-margin: 10%;
$padding: 5px;
$radius: 10px;

//breakpoints
$big-display: 768px; //64em



