@import "_sizes";

html {
  background-color: $backgound-color;
  background-size: cover;
  background-attachment: fixed;
}

::-moz-selection {
  background: $selected;
}

::selection {
  background: $selected;
}

body {
  max-width: $site-width;
  font-family: $serif;
  padding: $padding;
  min-height: 100vh;

  @include responsive($big-display) {
    margin-left: $big-margin;
  }
  
}

a {
  color: inherit;

  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='30' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='100%'>👆</text></svg>")
      16 0,
    auto;

  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}

a:hover {
  color: $link-color;
}

.content {
  margin-bottom: 100px;
}

article {
  .post-text {
    text-align: justify;
    hyphens: auto;
  }
  .meta {
    font-size: 0.75em;
    font-style: italic;
  }
}

blockquote {
  font-family: $quote-font;
  font-size: 115%;
  background-color: $blocks-backgound-color;
  padding: 10px;
  width: fit-content;
}

table {
  border: 1px solid black;
  border-radius: $radius;
  border-spacing: 10px;
}
tr,
td {
  text-align: left;
}

code {
  font-family: $monospace-font;
  background-color: $blocks-backgound-color;
  padding: 5px;
  border-radius: $radius;
}

footer {
  margin-top: 200px;
  font-size: 60%;
  position: absolute;
}

.section-title {
  font-size: 150%;
  text-decoration: none;
  color: $blocks-backgound-color;
}
.section-title:hover {
  text-decoration: none;
  color: $blocks-backgound-color;
}

#posts {
  li {
    list-style-type: none;
  }

  .post {
    margin-left: 0pt;
    border-radius: $radius;
    padding: 20px;
    width: fit-content;
    text-decoration: none;

    .name {
      font-weight: 400;
      font-family: $sans-serif;
    }

    .section,
    .date {
      font-style: italic;
      font-size: 75%;
    }

    a {
      text-decoration: none;
    }
  }

  .post:hover {
    .name {
      text-decoration: underline;
    }
  }
}

.big-title {
  padding-top: 100px;
  font-size: 4em;
}

img {
  width: 100%;
  border-radius: $radius;
}

/*
Header bar
*/

header {
  margin-top: 0px;
  margin-bottom: 120px;

  ul {
    padding-left: 0px;
    list-style-type: none;
    display: flex;

    .nav-bar {
      display: flex;
      width: 100%;
      float: right;

      margin: 0;
      padding: 0;
      overflow: hidden;
      justify-content: flex-end;

      .site-name {
        margin-top: 0px;
        text-transform: uppercase;
        display: block;

        a {
          text-decoration: none;
        }
        .hover {
          color: initial;
        }
      }

      .menu-item {
        align-content: left;
        float: right;
        min-width: 50px;
        padding: 10px;
        text-align: center;
        display: block;
        align-self: center;
        border-radius: $radius;
        font-family: $sans-serif;

        -webkit-transition: background-color 5000ms ease-out;
        -moz-transition: background-color 5000ms ease-out;
        -o-transition: background-color 5000ms ease-out;
        transition: background-color 5000ms ease-out;

        a {
          text-decoration: none;
        }
      }
      .menu-item:hover {
        background-color: $blocks-backgound-color;
      }
    }

    .logo {
      width: 12%;
      min-width: 50px;
      max-width: 100px;
      border-radius: 0;
      margin-left: 0;
      padding-left: 0px;
      img {
        border-radius: 0px;
      }
    }
  }
}
