@import "_variables";
@import "_functions";

html {
  font-size: 15px;
  background-color: f($backgound-color);
}

p {
  line-height: 1.3em;
}

strong {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 0px;
}

::-moz-selection {
  background: f($selected);
}

::selection {
  background: f($selected);
}

body {
  max-width: $max-site-width;
  font-family: $sans-serif;
  padding: $padding;
  min-height: 100vh;

  @include responsive($big-display) {
    margin-left: $big-margin;
    margin-right: $big-margin;
  }

  @include responsive($max-site-width) {
    padding-left: $big-margin;
    padding-right: $big-margin;
    margin: auto;
  }
}

a {
  color: inherit;

  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='30' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='100%'>👆</text></svg>")
      16 0,
    auto;

  @include transition(color 500ms ease-out);
}

a:hover {
  color: f($link-color);
}

aside {
  display: none;
  @include responsive($big-display) {
    display: block;
    float: right;
    color: f($blocks-backgound-color);
  }

  #TableOfContents {
    ul,
    li {
      font-size: 0.9em;
      margin-top: 10px;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}

article {
  .post-header {
    margin-bottom: 50px;
  }
  .post-text {
    text-align: justify;
    hyphens: auto;
    max-width: $content-width;

    @include responsive($big-display) {
      width: 70%;
    }
  }
  .meta {
    margin: 0px;
  }
}

blockquote {
  font-family: $quote-font;
  font-size: 115%;
  background-color: f($blocks-backgound-color);
  padding: 10px;
  width: fit-content;
}

table {
  border: 1px solid black;
  border-radius: $radius;
  border-spacing: 10px;
}
tr,
td {
  text-align: left;
}

code {
  font-family: $monospace-font;
  padding: 5px;
  border-radius: $radius;
}

pre {
  code {
    background-color: $blocks-backgound-color;
    line-height: 130%;
  }
}

.highlight {
  pre {
    code {
      background-color: unset;
    }
  }
}

.main-line {
  border: 0px;
  border-top: 2px $blocks-backgound-color solid;
  max-width: $content-smaller-width;
  align-self: left;
  margin-left: 0px;
}

footer {
  margin-top: 200px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  position: absolute;
}

.section-title {
  text-decoration: none;
  color: f($blocks-backgound-color);
}
.section-title:hover {
  text-decoration: none;
  color: f($blocks-backgound-color);
}

img {
  width: 100%;
  border-radius: $radius;
}

/*
  Home page objects
*/

.content {
  margin-bottom: 100px;
  max-width: $content-smaller-width;
  text-align: justify;
}

.big-title {
  font-size: 3em;
  @include responsive($big-display) {
    font-size: 4em;
  }
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: $content-smaller-width;
}

#posts {
  li {
    list-style-type: none;
  }

  .post {
    margin-left: 0pt;
    border-radius: $radius;
    padding: 20px;
    width: fit-content;
    text-decoration: none;

    .name {
      font-weight: 400;
      font-family: $sans-serif;
    }

    .section,
    .date {
      //font-size: 75%;
    }

    a {
      text-decoration: none;
    }
  }

  .post:hover {
    .name {
      text-decoration: underline;
    }
  }
}

/*
Header bar
*/

header {
  margin-top: 0px;
  margin-bottom: 120px;
  display: flex;
  vertical-align: middle;
}

.logo{
  img{
    width: unset;
    max-height: 40px;
    border-radius: 0px;
    padding-right: 15px;
  }
  display: block;
}

.navbar {

  display: flex;
  margin-right: 5px;
  width: 100%;
  align-content: right;
  align-items: center;
}

.hamburger {
  display: none;
  margin-left: auto;

}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: f($main-color);
}

.nav-menu {
  display: flex;
  justify-content: right;
  align-items: right;
  list-style: none;
}


.nav-item{
  margin-left: 25px;
}
.nav-item:hover{
  color: $link-color;
}
 

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%; 
    top: -50px; 
    padding: 20px;
    padding-top: 150px;
    flex-direction: column;
    background-color: $blocks-backgound-color;
    border-radius: $radius;
    text-align: center;
    transition: 0.3s;
    
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: fit-content;
    margin-right: 0px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
