<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}} {{- if (eq .Kind "Section" ) -}} {{- .Render
    "list" -}} {{- end -}}
    <main>{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}}
  </body>

  {{ $js := resources.Get "js/main.js"}} {{ printf `
  <script src="%s"></script>
  ` $js.RelPermalink | safeHTML }}

  {{if .Site.Params.twemoji}}
  <script
    src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"
    crossorigin="anonymous"
  ></script>
  <script>
    twemoji.parse(document.body, {
      folder: "svg",
      ext: ".svg",
    });
  </script>
  {{end}}
</html>
