<div class="pt-3 flex justify-between">
  <div class="text-lg max-w-sm hover:text-secondary">
    <div class="text-[0.7rem] space-x-5 font-sans capitalize">
      {{with .Params.Categories}}
      <i class="fa-solid fa-folder pr-px text-[0.6rem]"></i>
      {{$n := len .}} {{range $ind, $val := .}} {{ $val }} {{- if lt $ind (sub
      $n 1) -}},{{end}} {{end}} {{ end }}

      <i class="fa-solid fa-calendar pr-px text-[0.6rem]"></i>
      {{$myFormat := "January 2, 2006"}} {{with .Site.Params.DateFormat}}
      {{$myFormat = .}} {{end}} {{ time.Format $myFormat .Date}}
    </div>
    <div class="font-mono uppercase">
      <a href="{{.Permalink}}" class="feed__link"
        >{{with .Params.Description}} {{.}} {{else}} {{.Title}} {{end}}</a
      >
    </div>
  </div>
</div>
