<div class="pt-3 flex justify-between">
  <div class="text-lg max-w-sm hover:text-secondary">
    <div class="text-[0.7rem] space-x-5 font-sans capitalize">
      {{with .Params.Categories}}
      <span class="material-symbols-rounded symbols-sm">
        folder_open
        </span>
        
        {{$n := len .}} {{range $ind, $val := .}} {{ $val }} {{- if lt $ind (sub
      $n 1) -}},{{end}} {{end}} {{ end }}

      <span class="material-symbols-rounded symbols-sm">
        event
        </span>
      {{$myFormat := "January 2, 2006"}} {{with .Site.Params.DateFormat}}
      {{$myFormat = .}} {{end}} {{ time.Format $myFormat .Date}}
    </div>

    <div class="font-mono block uppercase balanced">
      <a href="{{.Permalink}}"
        >{{with .Params.Description}} {{.}} {{else}} {{.Title}} {{end}}</a
      >
    </div>
  </div>
</div>
