   
{{range .Sections}}
    
    {{$numberOfSection := len .Sections}}


   <h3>
   
        <a href="{{.Permalink}}">    
    {{.Title}}

        </a>
    

    
   </h3>

    <table>
        <tb> 
            {{ range  .RegularPages}}
                {{.Render "li"}}
            {{ end }}

            {{range .Sections}}
                {{ range  .RegularPages}}
                    {{.Render "li"}}
                {{ end }}
            {{ end }}
        </tb>
    </table>
                  
  {{end}}