{{range .Sections}}

   <h3>
       {{.Title}}
       {{$sectionTitle :=  .Section}}
    
   </h3>

    <table>
        <tb> 
            {{ range  where .Site.RegularPages "Section" $sectionTitle}}

        <tr>
            <td><a href="{{.Permalink}}">{{.Title}}</a><br></td>
            <td>{{.Date.Format .Page.Params.DataFormat}}</td>
            <td>{{ .Section}}</td>
            <td>{{$sectionTitle}}</td>
        </tr> 
            {{ end }}
        </tb>
    </table>
            
        
  {{end}}

