{{ define "main" }}

<article>
  <div class="single__header">
    <h1 class="single__title">{{ .Title }}</h1>
    {{with .Params.hideMeta}}{{else}}{{partial "meta.html" .}}{{end}}
  </div>

  <div class="single__body">
    
    <div class="single__toc">
    {{if .Params.toc}}
    <button type="button" class="single__toc-button">Table of Content</button>
    <div class="single__toc-content">{{ .TableOfContents }}</div>
    {{end}}
  </div>

    <div class="single__body-content">
      {{- .Content -}} {{with .Params.Tags}}
      <h6 class="tags-footer">Tags: {{range .}} {{ . }} / {{- end -}}</h6>
      {{- end -}}
    </div>
  </div>
</article>

{{ end }}
