{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
            <div>
            {{- if isset .Params "date" -}}
                {{ if eq .Lastmod .Date }}
                <time>{{ .Date.Format .Site.Params.DateFormat }}</time>
                {{ else }}
                Updated <time>{{ .Date.Format .Site.Params.DateFormat }}</time>
                {{ end }}
            {{- end -}}
            </div>
            

    </header>
    {{- .Content -}}
</article>
{{ end }}
