{{ define "main" }}

<div class="taxonomy__header">
  <h2>All {{ .Type }}</h2>
</div>

<div class="feed">
  {{- $type := .Type }} {{- range $key, $value := .Data.Terms.Alphabetical }}
  {{- $name := .Name }} {{- $count := .Count }} {{- with $.Site.GetPage (printf
  "/%s/%s" $type $name) }}
  
    <div class="feed__post">
      <a class="feed__link" href="{{ .Permalink }}"></a>
      <p class="feed__post-title">
        {{ .Name }}
        <span class="feed__post-count">{{ $count }} </span>
      </p>
      {{- end }}
    </div>

  {{- end }}
</div>
{{ end }}
