<div class="contact-form" id="contact">
    <h3 class="section__title animated">
     Contact me
   </h3>
   <h4 class="animated">hey AT jacksalici DOT com</h4>
   <!--
      <form name="contact" method="POST" data-netlify="true" action="/thanks">      
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="nickname" name="name" required>
          <input type="email" class="contact-form__input animated" placeholder="email" name="username" required>
        </div>
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="Drop the message" name="message" required>
          <button type="submit" class="contact-form__input contact-form__send-button animated"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
        </div>
      </form>
    -->
  
  </div>
  