<div class="contact-form" id="contact">
    <h3 class="section__title animated">
     Contact me
   </h3>
  
      <form action="https://formspree.io/f/xoqzwbzw" method="POST">      
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="nickname" name="name">
          <input type="mail" class="contact-form__input animated" placeholder="email" name="username">
        </div>
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="Drop the message" name="message"></input>
          <button type="submit" class="contact-form__input contact-form__send-button animated">↵</button>
        </div>
      </form>
    
  
  </div>
  