
   <h4>You can reach me saying <span class="italic">hey AT jacksalici DOT com</span>.</h4>
   <p>You can also find me almost everywhere with the username <i>@jacksalici</i>.</p>

   <div class="not-prose space-x-2 py-3">
    {{ range $index, $elem := .Site.Params.social}}
    <a
      class="text-base-content"
      target="_blank"
      rel="noopener"
      href="{{ $elem.url }}"
      aria-label="{{ $elem.name }}"
    >
      <i class="{{ $elem.icon }} text-2xl" aria-hidden="true"></i>
    </a>
    {{ end }}
  </div>


   <!--
      <form name="contact" method="POST" data-netlify="true" action="/thanks">      
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="nickname" name="name" required>
          <input type="email" class="contact-form__input animated" placeholder="email" name="username" required>
        </div>
        <div class="contact-form__row">
          <input type="text" class="contact-form__input animated" placeholder="Drop the message" name="message" required>
          <button type="submit" class="contact-form__input contact-form__send-button animated"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
        </div>
      </form>
    -->
  
  