{{if or (not .IsHome) (eq .Site.Params.showfooteronhomepage true)}}


<footer class="mt-20 p-2 bg-base-200 text-base-content">
     <div class="max-w-2xl justify-between m-auto flex text-xs flex-col md:flex-row">
          <p class="block">
        
               {{$footerText := string ""}}
               {{ with .Site.Copyright }}
               {{$footerText = . | safeHTML}}
               {{else}}
               {{$footerText = .Site.Title }}
               {{end}}
                  
               &copy; {{ now.Year }} - {{$footerText}}
                   
              
           </p>
           <p class="block">
               Made with 💖 and 🍕 on 🌍.
           </p>
     </div>
 
   
  </footer>

{{end}}
