<!--{{if or (not .IsHome) (eq .Site.Params.showheaderonhomepage true)}}{{- end}}-->
<header class="header">
  
  
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img src="{{.Site.BaseURL}}/logo.png" alt="{{.Site.Title}}" />
    </a>

    <nav class="navbar">
      <ul class="nav-menu">
       
      {{range .Site.Menus.main.ByWeight -}}
      <li class="nav-item">
        <a href="{{.URL}}" class="nav-link">{{- .Name -}}</a>
      </li>
      {{- end}}
  </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  
</header>

