<head>
  <meta name="title" content="Giacomo Salici ~ Creative developer, digital craftsman." />
  <meta
    name="description"
    content="I am a M.Sc. Computer Engineering student based in Modena, Italy. I like developing and designing random stuffs. Here are my latest projects."
  />
  <meta
    name="keywords"

    {{ with .Params.tags }} content="{{ delimit . ", "}}, giacomo salici, jack salici"
    {{else}}
    content="jack salici, Portfolio, giacomo salici, salici, developer, coding, maker"
    {{ end }}
  />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <meta name="author" content="Jack Salici" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ template "_internal/google_analytics.html" . }} {{ printf `
  <link rel="shortcut icon" href="%s" />
  ` ("logo.svg" | absURL) | safeHTML }}

  <!--STYLE-->
  {{ $sass := resources.Get "sass/main.scss" }} {{ $css := $sass |
  resources.ToCSS | minify }} {{ printf `
  <link rel="stylesheet" href="%s" />
  ` $css.RelPermalink | safeHTML }}

  <!--Font Awesome-->
  <link
    defer
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!--MATH-->
  {{ with .Params.tags }}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
  />
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"
  ></script>
  {{end}}

  <!--LIBS-->
  <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>

  <!--LIBS-->

  {{if .Site.Params.twemoji}}
  <script defer
    src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js"
    crossorigin="anonymous"
  ></script>

  {{end}}

  <!--TITLE-->
  <title>{{if .IsHome}}{{ .Title }}{{else}}{{ .Title }} ~ By Giacomo Salici{{end}}</title>
</head>
