{{ define "main"}}
<article>
    <div class="single__header">
        <h1 class="single__title">404</h1>
       
      <div>
   
<div class="single__body_page">
  Looks like you're lost, but here's a link that takes you back to the <a href="/">home</a>.
  If you are confident about your url, it is likely that the content you were searching for has been moved away. That's awkward...
<br/><br/>
  
  <img src="https://media.tenor.com/U_z21PJ3E28AAAAM/everybody-stay-calm-steve-carrell.gif"/>
</div>   

</article>
{{ end }}