{{ define "main"}}
  <div class="m-auto bg-base-200 place-items-start">
    <div class="max-w-2xl w-full p-2 py-24 mx-auto">
      <div>
        <h1 class="text-4xl font-bold font-serif">404 error</h1>
      </div>
    </div>
  </div>
   
<div class="prose mx-auto max-w-2xl px-2 mt-6">
  Looks like you're lost, but here's a link that takes you back to the <a href="/">home</a>.
  If you are confident about your URL, it is likely that the content you were searching for has been moved to a new location. That's awkward...
  <br><br>
  
  <img src="https://media.tenor.com/U_z21PJ3E28AAAAM/everybody-stay-calm-steve-carrell.gif"/>
  <img src="https://media.tenor.com/CbhnRg0n7ksAAAAM/kermit-the-frog-looking-for-directions.gif" />
  <img src="https://media.tenor.com/khjOpd7-ungAAAAM/viggo-mortensen-journey.gif" />
  <img src="https://media.tenor.com/oTeBa4EVepMAAAAC/business-cat-working.gif" />
  <img src="https://media.tenor.com/oE7O8I0TvEwAAAAC/thats-all-folks.gif" />

</div>   

{{ end }}