{{ define "main" }}

{{partial "hero.html" (dict "Title" "People call me Jack." "Subtitle" "My name is Giacomo Salici, I'm a <b>developer and engineer</b> based in Italy. Currently, I'm getting a M.Sc. degree in Computer Engineering, artificial intelligence curriculum." "Large" true "Socials" .Site.Params.social)}}

<div class="feed">
  <h2 class="text-4xl font-bold font-serif">Featured projects</h2>
    {{range (where .Site.RegularPages ".Params.featured" "=" true)}} {{.Render
    "li" }} {{end}}

    <div class="pt-5">
      <a href="/projects" class="hover:text-secondary">
        See all the projects ({{ len (where .Site.RegularPages "Section" "=="
        "projects") }}) <i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div>
</div>

<!--

<h5 class="feed"><a class="section__title primary" href="/projects/website">Do you like this website?</a></h5>
-->
{{ end }}
