{{ define "main" }}
<div class="hero min-h-[400px] bg-base-200">
  <div class="hero-content text-left space-y-4">
    <!--     <img src="/photo2.jpeg" class="w-20 lg:w-40 rounded-lg mr-auto pt-20 md:pt-0" />
 -->
    <div class="pb-20 pt-40">
      <h1 class="text-6xl font-serif font-bold">People call me Jack.</h1>
      <p class="text-xl pb-3 max-w-2xl font-mono uppercase">
        My name is Giacomo Salici, I'm a developer and engineer based in Italy.
        Currently, I'm getting a M.Sc. degree in Computer Engineering, artificial intelligence curriculum.
      </p>
      {{- if isset .Site.Params "social" }}
      <div class="space-x-2 py-3">
        {{ range $index, $elem := .Site.Params.social}}
        <a
          class="text-base-content"
          target="_blank"
          rel="noopener"
          href="{{ $elem.url }}"
          aria-label="{{ $elem.name }}"
        >
          <i class="{{ $elem.icon }} text-2xl" aria-hidden="true"></i>
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="max-w-2xl px-2 m-auto">
  <h3 class="text-4xl py-10 font-bold font-serif">Featured projects</h3>
  <div id="posts" class="space-y-5 divide-y-4 divide-base-200">
    {{range (where .Site.RegularPages ".Params.featured" "=" true)}} {{.Render
    "li" }} {{end}}

    <!-- <div class="pt-5">
      <a href="/projects" class="link">
        See all the projects ({{ len (where .Site.RegularPages "Section" "=="
        "projects") }}) <i class="fa-solid fa-arrow-right-long"></i>
      </a>
    </div> -->
  </div>
</div>

<!--{{partial "contact.html"}}

<h5 class="feed"><a class="section__title primary" href="/projects/website">Do you like this website?</a></h5>
-->
{{ end }}
